:root { 
--gray_400:#b4b4b4; 
--blue_700:#337fb6; 
--gray_800:#4e4e4e; 
--gray_900:#1e1e1e; 
--gray_801:#4a4a4a; 
--orange_700:#e18109; 
--light_blue_50:#daf0ff; 
--red_400:#f7553f; 
--teal_50:#dafbf1; 
--gray_300:#dedede; 
--gray_800_87:#4e4e4e87; 
--gray_50:#fcfcfc; 
--deep_purple_300:#8576f0; 
--green_500:#34a770; 
--gray_100:#f4f4f4; 
--red_50:#ffebeb; 
--orange_50:#ffefdf; 
--indigo_100:#cac7ff; 
--black_900:#000000; 
--gray_400_87:#b4b4b487; 
--deep_purple_A200:#9747ff; 
--white_A700:#ffffff; 
}